body {
    display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
}
button{
    background-color: #000000;
    color: azure;
    padding: 10px 20px;
    margin: 40vh 90vh;
    align-items: center;
}
button:hover {
    background-color: azure;
    color: #000000;
    font-weight: 800;
}
.separate{
    max-height: 100px;
}
@media only screen and (max-width: 600px) {
    button{
        margin: 50%;
    }
}